{{> head }}


{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsumn dolor sit, amet
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/circle.jpg" class="img-thumbnail"/>
    </div>

</div>


{{> footer }}